body {
    background-color: rgb(0, 0, 0);
    padding: 30px, 50px, 30px, 50px;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

/* CONTROLS */
.controls {

}

label {
    color: white;
    font-size: 16px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

#customWord {
    color: rgb(160, 160, 160);
    background-color: rgb(20, 20, 20);
}

#circle1Color, #circle2Color, #circle3Color {
    background-color: rgb(20, 20, 20);
}

/* POSTER */
.poster-box {
    display: flex;
    width: 550px;
    height: 700px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
}

.poster-box > * {
  position: absolute;
  top: 0;
  left: 0
}

#circle1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #A491D3;
    translate: 75px 150px;
}

#circle2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #C5DCA0;
    translate: 125px 200px;
}

#circle3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F5F2B8;
    translate: 175px 250px;
}

#theWord {
    font-family: "Comic Relief";
    font-weight: 600;
    font-size: 32px;
    color: rgb(3, 0, 40);
    translate: 20px;
}

#fatcat, #hatcat, #scaredcat, #buffcat, #studycat, #isthiscat {
    width: 0px;
}

output {
    color: white;
    font-size: 12px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}