.navitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
    gap: 3.3rem;
    align-items: center;
    background-color: #FFFDEA;
    }

ul {
    list-style-type: none;
} 

li {
    padding: 0;
    margin: 0;
}

a {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #123636;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100dvh;
}

@media (max-width: 950px) {
  .section-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}

.section-grid-places {
    display: grid;
    grid-template-columns: auto auto;
    min-height: auto;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-size: 38px;
    color: #123636;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 16px;
    color: #123636;
}

h3 {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 12px;
    color: #123636;
}

#imgBox {
    width:100%;
    height:70dvh;
    background-color: gray;
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

.icon {
    width: 50px;
}

.leftsec {
    background-color: #297373;
    padding: 2rem;
}

.rightsec {
    background-color: #FFF6A6;
    padding: 2rem 4rem 2rem 4rem;
}

#country {
    color: #7ED5D5;
}

.horizontal-text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#city {
    color: white;
}

#state {
    color: white;
}

.triangle {

}

#lat {
    color: #7ED5D5;
    margin-bottom: 3px;
}

#long {
    color: #7ED5D5;
}

.horizontal-flex {
    display: flex;
    justify-content: space-between;
    gap: 35%;
}

caption /*container*/ {
    
}

#visitReason {
    color: white;
    text-align: right;
    line-height: 1.2rem;
}

.header /*add padding below for list items*/ {
    padding-bottom: 1.5rem;

}

button {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 12px;
    color: #123636;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
    text-align: left;
    margin: 0;
}

button:active {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 12px;
    color: #dfd156;
    text-decoration: underline;
}

button:hover {
    font-family: "Bricolage Grotesque", Helvetica;
    weight: 600;
    font-size: 12px;
    color: #008484;
    text-decoration: underline;
}

.placeitems {
    margin-bottom: 10%;
}

.leftcol {
    height: auto;
}

.rightcol {
    height: auto;
    margin-left: 1rem;
}

#places {
    margin-top: 1rem;
}